/* GENERAL STYLING */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --backgroundPurple: rgb(51, 50, 59);
  --extraDarkPurple: rgb(33, 32, 38);
  --lightcolor1: rgb(194, 191, 222);
  --lightcolor2: rgb(70, 68, 84);
  --darkercolor1: rgb(124, 119, 166);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--extraDarkPurple);
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-decoration: underline;
}
p,
h1,
h4 {
  margin: 0%;
  text-align: center;
  color: var(--lightcolor1);
}
button {
  display: block;
  margin: 0.5rem auto;
  font-weight: 700;
  transition: all 300ms ease;
  padding: 1rem;
  width: 70%;
  border-radius: 3rem;
  background: var(--lightcolor2);
  border: var(--lightcolor1) 0.3rem solid;
  color: var(--lightcolor1);
}

button:hover {
  cursor: pointer;
  background: var(--lightcolor1);
  color: var(--backgroundPurple);
}

/* POPUP STYLING */
.PopUp {
  display: block;
  background-color: antiquewhite;
  width: 70%;
  height: 70%;
  border-radius: 3rem;
  background: var(--lightcolor2);
  border: var(--lightcolor1) 0.3rem solid;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.PopUp.IsOpen {
  display: none;
}

#playBtn.IsOpen {
  display: none;
}

.PopUpText {
  padding: 0.5rem;
}

.PopUpButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

#PopUpBottomText {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

/* GAME STYLING */

#scoreText {
  position: absolute;
  padding: 0%;
  margin: 0%;
  font-size: 3rem;
  color: rgba(194, 191, 222, 0.5);
  cursor: default;
  width: 95%;
  user-select: none;
  pointer-events: none;
}
#gameContainer {
  text-align: center;
}

#scoreText.IsOpen {
  display: none;
}

#resetBtn.IsOpen {
  display: none;
}

/* MOBILE STYLING */
#mobileControlls {
  position: absolute;
  width: 95%;
  height: 95%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.arrowUp,
.arrowDown,
.arrowLeft,
.arrowRight {
  position: absolute;
  max-width: 3rem;
  user-select: none;
}
.arrowUp {
  top: 0px;
  left: 50%;
  transform: translate(-50%) rotate(180deg);
}
.arrowDown {
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
}

.arrowLeft {
  left: 0px;
  top: 50%;
  transform: translate(0%, -50%) rotate(90deg);
}

.arrowRight {
  right: 0px;
  top: 50%;
  transform: translate(0%, -50%) rotate(-90deg);
}
