/* GENERAL STYLING */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --backgroundPurple: rgb(51, 50, 59);
  --lightcolor1: rgb(194, 191, 222);
  --darkercolor1: rgb(124, 119, 166);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--backgroundPurple);
}

html {
  scroll-behavior: smooth;
}

p,
h1 {
  text-align: center;
  color: var(--lightcolor1);
}

/* GAME STYLING */

#scoreText {
  margin-bottom: 1rem;
}
#gameContainer {
  display: block;
  text-align: center;
  font-size: 2rem;
}
#gameBoard {
  border: 0.3rem solid var(--lightcolor1);
}
#resetBtn {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 3rem;
  background: var(--backgroundPurple);
  border: var(--lightcolor1) 0.3rem solid;
  color: var(--lightcolor1);
}

#resetBtn:hover {
  cursor: pointer;
  background: var(--lightcolor1);
  color: var(--backgroundPurple);
}
